{% extends "templates/maLayout.jinja2" %}

{% block content %}
    <article class="history" font="lightblue">
        <div>Rammstein — немецкая рок-группа, образованная в январе 1994 года. Их музыкальный стиль соединяет в себе элементы индастриал-метала,
            и традиции немецкой тяжёлой сцены (Neue Deutsche Harte). Rammstein — одна из самых популярных рок-групп Германии, широко известная в
            Европе и США. Почти все песни группы исполняются на немецком языке. Rammstein также прославились сценическими шоу и эпатажными текстами.</div>
        <p></p>
        <div class="myArticle">СТИЛЬ МУЗЫКИ</div>
        <div>Стиль музыки Rammstein, который сами музsыканты в шутку окрестили «танц-метал», преимуществнено представляет
            собой индастриал-метал в духе сцены Neue Deutsche Harte (Новая Немецкая Тяжесть). Однако он смешивает элементы и
            электронного индастриала, и альтернативного метала, и других жанров.</div>
        <p></p>
        <div class="myArticle">ИСТОРИЯ</div>
        <div>    Группа была основана гитаристом Рихардом Круспе, эмигрантом из ГДР, после его возвращения на родину в город Шверин.
            Все члены группы — из бывшей Германской Демократической Республики, в частности Восточного Берлина и Шверина.
            Круспе, поклонник Kiss, искал возможности соединить любимый им хард-рок с электронным звучанием индастриала.
            Для этого он обьединил усилия со своими соседями Оливером Риделем (бас-гитара) и Кристофом Шнайдером (ударные).
            Позже Рихард познакомился с начинающим спортсменом Тилем Линдеманном, который хорошо пел и умел писать стихи, и пригласил его в группу.
            Название группы было составлено из слов — Ramm (таран) и Stein (камень), и одновременно отсылает к названию города Рамштайн-Мизенбах
            (с одной m),где, на военной базе НАТО в время авиашоу в 1988 году произошла авария со множеством жертв. Об этой аварии рассказывает
            одноимённая городу (но не группе) песня «Ramstein».В 1994 году Rammstein вчетвером выиграли конкурс молодых групп в Берлине,
            получив право записи на профессиональной студии. Годом позже к группе присоединился второй гитарист Пауль Ландерс, а затем и клавишник
            Кристиан Лоренц, игравшие в панк-группе Feeling B. В таком составе и с продюсером Якобом Хельнером был записан дебютный альбом Herzeleid.
            Все тексты на этом альбоме, как и на большинстве последующих, написаны Линдеманном. После нескольких неудачных попыток написать тексты на английском,
            как того требовал лэйбл, Тиль настоял на том, чтобы писать песни на немецком. Выпущенный на лэйбле Motor Music,
            первый диск Rammstein завоевал широкую популярность, став «золотым». Rammstein заметил лидер Nine Inch Nails Трент Резнор,
            который посоветовал две их песни в саундтрек к триллеру Дэвида Линча «Шоссе в никуда». Это принесло группе дополнительную известность.
            В 1995 в поддержку альбома Rammstein совершили тур по Европе на разогреве у Clawfinger. На концертах Rammstein демонстрировали яркие пиротехнические шоу.
            Этому поспособствовала прежняя работа Тиля пиротехником. В это время пресса в некоторых странах начала распространять о группе слухи,
            будто ее участники являются нацистами. Поводом для этого послужила вызывающе брутальная эстетика шоу Rammstein.
            Из-за таких слухов несколько концертов в Польше и Чехии были сорваны. Музыканты были возмущены такой клеветой.
            Однако скандальная известность лишь прибавила им популярности. В 1997 году Rammstein впервые выступили на телеканале MTV.
            Группа пользуется большим успехом как в Германии, так и за её пределами, и после выпуска альбома «Reise,
            Reise» они стали самой популярной группой всех времён, поющей на немецком языке.
            Несколько синглов Rammstein попали в десятку лучших в Германии.Астрономом из Франции Жаном-Клодом Мерленом,
            поклонником группы, в 2001 была открыта малая планета в поясе астероидов. Астероид #110393 получил от него название «Rammstein», в честь группы.</div>
        <div>Группа пользуется большим успехом как в Германии, так и за её пределами, и после выпуска альбома «Reise, Reise» они стали самой популярной
            группой всех времён, поющей на немецком языке. Несколько синглов Rammstein попали в десятку лучших в Германии.
            Астрономом из Франции Жаном-Клодом Мерленом, поклонником группы, в 2001 была открыта малая планета в поясе астероидов.
            Астероид #110393 получил от него название «Rammstein», в честь группы.</div>
    </article>
{% endblock content %}