{% extends "templates/maLayout.jinja2" %}

{% block content %}
        <article class="history" font="lightblue">
            <p class="logo"><img src="static/Photos/Artists/Christoph_Doom_Schneider.jpg"></p>
            <p>Christoph Doom Schneider (Кристоф Дум Шнайдер) </p>
            <p>ДЕНЬ РОЖДЕНИЯ: 11 мая 1966 года </p>
            <p>МЕСТО РОЖДЕНИЯ: Берлин </p>
            <p>ЦВЕТ ВОЛОС: очень тёмный </p>
            <p>ЦВЕТ ГЛАЗ: голубой </p>
            <p>РОСТ: 193 см </p>
            <p>ВЕС: 84 кг </p>
            <p>ГРУППЫ ДО RAMMS+EIN: Die Firma </p>
            <p>СЕМЬЯ: Родиться это создание угораздило в многодетной семейке, где кроме него было еще 6 детишек, из них 5 сестренок и старший братишка (38 лет), а вот папули у них, сироток, не было. </p>
            <p>ОСОБЫЕ ПРИМЕТЫ: Отсутствуют </p>
        </article>
{% endblock content %}