{% extends "templates/maLayout.jinja2" %}

{% block content %}
    <article class="history" font="lightblue">
        <p class="logo"><img src="static/Photos/Artists/Christian_Lorenz.jpg"></p>
        <p>Christian Lorenz (Христиан Лоренс) он же "Флаке" </p>
        <p>ДЕНЬ РОЖДЕНИЯ: 6 ноября 1966 года </p>
        <p>МЕСТО РОЖДЕНИЯ: Берлин </p>
        <p>ЦВЕТ ВОЛОС: блондин </p>
        <p>ЦВЕТ ГЛАЗ: голубой </p>
        <p>РОСТ: 190 см </p>
        <p>ВЕС:73 кг </p>
        <p>ГРУППЫ ДО RAMMSTEIN: Feeling B </p>
        <p>СЕМЬЯ: Кроме него в семье были два брата. Разведён, есть дочь Аня </p>
    </article>

{% endblock content %}
