<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Rammstein</title>
    <style>

        .logo {
            text-align: center; /* Выравнивание по центру */
        }

        body {
            padding: 0px;
            font-family: "Arial", sans-serif;
            font-size: 14px;
            line-height: 1.4;
            background-color: black; /* Цвет фона веб-страницы */
        }

        .main-menu {
            position: absolute;
            width: 180px;
            margin: 0;
            left: 120px;
            padding: 0;
            list-style: none;
            background: black;
        }

        .main-menu a {
            display: block;
            margin-bottom: -1px;
            padding: 8px 14px;
            text-decoration: none;
            color: #0088cc;
            border: 1px solid #e5e5e5;
        }

        .main-menu a:hover {
            background: #f5f5f5;
        }

        .main-menu > li {
            position: relative;
        }

        .main-menu .sub-menu {
            position: absolute;
            top: 5px;
            left: 180px;
            z-index: 10;
            width: 150px;
            margin: 0;
            padding: 0;
            list-style: none;
            #color: #0088cc;
            background: black;
            display: none;
        }

        .history {
            position: absolute;
            color: lightblue;
            width: 900px;
            max-width: 900px;
            word-wrap: break-word;
            left: 400px;
            font-size: medium;
            text-indent: 1.5em;
            #width: 150px;
            #right: 200px;
        }

        .history .div {
            text-indent: 1.5em;
        }

        .myArticle {
            text-align: center;
        }

        .login {
            position: absolute;
            top: 250px;
            left: 80px;
            color: aqua;
        }

        /* Cелектор для подменю, если навести мышь */
        /* на родительский элемент верхнего меню */

        .main-menu > li:hover .sub-menu {
            display: block;
        }
    </style>
</head>
<body>
<p class="logo"><img src="static/Photos/Rammstein_logo.png" width="800"></p>

<ul class="main-menu">
    <li><a href="about">О группе</a></li>
    <li class="artists">
        <a>Состав</a>
        <ul class="sub-menu">
            <li><a href="Till_Lindemann">Till Lindemann</a></li>
            <li><a href="Christian_Lorenz">Christian Lorenz</a></li>
            <li><a href="Christoph_Doom_Schneider">Christoph Doom Schneider</a></li>
            <li><a href="Oliver_Riedel">Oliver Riedel</a></li>
            <li><a href="Paul_Landers">Paul Landers</a></li>
            <li><a href="Richard_Kruspe-Bernstein">Richard Kruspe-Bernstein</a></li>
        </ul>
    </li>
    <li class="albums">
        <a href="#team">Альбомы</a>
        <ul class="sub-menu">
            <li><a href="Herzeleid">1995 - Herzeleid</a></li>
            <li><a href="Sehnsucht">1997 - Sehnsucht</a></li>
            <li><a href="Mutter">2001 - Mutter </a></li>
            <li><a href="ReiseReise">2004 - Reise,Reise</a></li>
            <li><a href="Rosenrot">2005 - Rosenrot</a></li>
            <li><a href="LiebeIstFuerAlleDa">2009 - Liebe ist fuer alle da</a></li>
        </ul>
    </li>
    <li><a href="contacts">Контакты</a></li>
    <li><a href="favorites">Избранное</a></li>
</ul>

{% block sidebar %}
    <ul class="login">
        <div id="sidebar">
            <br><br>
            <h2>Здравствуй, {{ human }}</h2>
            <form action="authorization" method="post">
                <input type="hidden" name="came_from" value="{{ came_from }}">
                <div class="form-group">
                    <label for="login">Username</label>
                    <br>
                    <input type="text" name="login"> <!--value="{{ login }}"-->
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <br>
                    <input type="password" name="password"> <!--value="{{ password }}"-->
                </div>
                <button type="submit" name="form.submitted" value="LogIn" class="btn btn-default">Log In</button>

                <button visibility="hideIt" type="submit" name="form.submitted" value="LogOut" class="btn btn-default">Log Out</button>

            </form>
        </div>
        <tr></tr>
    </ul>

{% endblock %}

{% block content %}
    <p>No content</p>
{% endblock content %}
</body>
</html>