{% extends "templates/maLayout.jinja2" %}

{% block content %}
<article class="history" font="lightblue">
            <p class="logo"><img src="static/Photos/Artists/Oliver_Riedel.jpg"></p>
            <p>Oliver Riedel (Оливер Ридель)
            <p>ДЕНЬ РОЖДЕНИЯ: 11 апреля 1971 года </p>
            <p>МЕСТО РОЖДЕНИЯ: Schwerin </p>
            <p>ЦВЕТ ВОЛОС: Тёмный </p>
            <p>ЦВЕТ ГЛАЗ: Тёмный </p>
            <p>ВЕС: 84 кг </p>
            <p>РОСТ: 200 см </p>
            <p>СЕМЬЯ: Он жил вместе со своим отцом и братом, познакомился со своей матерью только в 16 лет. Бедный ребёнок. Работал в ресторане, что не мешало подрабатывать штукатуром-маляром. </p>
            <p>ОСОБЫЕ ПРИМЕТЫ: Где-то есть татуировка, предположительно в самом укромном месте. Но даже наличие татуировки не избавляет Оливера от полного игнорирования его окружающими. </p>
        </article>

{% endblock content %}
