{% extends "templates/maLayout.jinja2" %}

{% block content %}
<article class="history" font="lightblue">
            <p class="logo"><img src="static/Photos/Artists/Paul_Landers.jpg"></p>
            <p>Paul Landers (Пауль Лендерс) </p>

            <p>ДЕНЬ РОЖДЕНИЯ: 9 декабря 1964 </p>
            <p>МЕСТО РОЖДЕНИЯ: Брест (Беларусия) </p>
            <p>ЦВЕТ ВОЛОС: темно-коричневый </p>
            <p>ЦВЕТ ГЛАЗ: орешек </p>
            <p>РОСТ: 172 см </p>
            <p>ВЕС: 79 КГ </p>
            <p>ГРУППЫ ДО RAMMSTEIN: Feeling B и Die Firma </p>
            СЕМЬЯ: Независимый источник, который как минимум присутствовал при родах, сообщает, что в этот мир Полик пришел семимесячным.
            В детстве много болел и мало кашки кушал, отсюда и такой маленький. Просто пятно на биографии для простого немецкого парня.
            Глядя на такого милого малыша, родители тут же решили, что обойдутся одним ребёнком, не так накладно будет, да и спокойнее.
            Мальчик рос очень задиристым и хулиганистым. В школе большие немецкие мальчики дразнили нашу кнопку за маленький рост,
            за что в свою очередь получали, кто в глазик, кто в носик, кто в ушко, за что в свою очередь маленький Ландерс получал в те же места от своих родителей.
            Так вот и жили до поры до времени. Но не долго счастье длилось, и когда ему исполнилось 14 лет, его родители развелись.
            Ребенок остался с матерью, которая, недолго думая повторно вышла замуж. Новый папаша явно ребенку не понравился,
            поэтому однажды темной и страшной ночью, когда ему исполняется 16 лет, он уходит из дома в неизвестном направлении.
            Тут он ненадолго теряется из виду от нашего пытливого читателя. Находиться он чуть позже в Берлине по адресу Feehrbelliner Strasse 9,
            где он проживает не один, а с неизвестным ранее длинноволосым красавцем Flake. Жили они долго и счастливо.
            За время этого совместного проживания Полик успевает жениться, и как это не прискорбно звучит, даже развестись.
            Описание супруги прилагается: стройная длинноногая блондинка с длинными волосами. От этого брака у Полика осталось
            светлое воспоминание в виде сыночка по имени Emil, внешнее сходство с папашей отрицается, а возраст загадочно определяется в интервале от 10 до 15 лет. </p>
            <p>OСОБЫЕ ПРИМЕТЫ: Кем-то был тщательно осмотрен, и в результате этого было выявлено, что кроме проколотых ушей его больше ничего не отличает от простых смертных. </p>
        </article>

{% endblock content %}
