{% extends "templates/maLayout.jinja2" %}

{% block content %}
<article class="history" font="lightblue">
            <p class="logo"><img src="static/Photos/Artists/Richard_Kruspe-Bernstein.jpg"></p>
            <p>Richard Kruspe-Bernstein (Рихард Бернштайн Круспе)</p>
            <p>ДЕНЬ РОЖДЕНИЯ: 27 июня 1967 года </p>
            <p>МЕСТО РОЖДЕНИЯ: Витенбург </p>
            <p>ЦВЕТ ВОЛОС: светло-коричневый </p>
            <p>ЦВЕТ ГЛАЗ: голубой </p>
            <p>РОСТ: 180 см </p>
            <p>ВЕС: 88 кг </p>
            <p>ГРУППЫ ДО RAMMSTEIN: Orgasm Death Gimmick </p>
            <p>СЕМЬЯ: Родился также, как и Христов в многодетной семье. Это отличительная черта немецких граждан, они свято пополняют
                своё государство новыми гражданами. Кроме него, в семье было ещё две дочери и один сын. Да, маловато будет, могло быть и больше.
                Мама также оказалась беспокойной девицей и, в один прекрасный день и она развелась, а в последствии, под веениями немецкой моды,
                вторично вышла замуж, чем обрекла маленького Рихарда на великие мучения.В детстве Рихард и робким мальчиком,
                за что его все дразнили и доводили до слёз - что и послужило причиной тому, что в юности он усиленно занимался
                спортом и накачал довольно-таки внушительную мышечную массу. На сегодняшний момент он женат уже второй раз - о первой жене
                Рихарда ничего не известно, зато вторая объявилась 29 октября 1999 года. Не менее интересным и загадочным остаётся другой факт
                его жизни - у него есть дочь, которую зовут Khira Li Lindemann (Live Aus Berlin - песенка Tier), которая не так давно числилась
                дочерью другого человека, но судьба распорядилась иначе и теперь она чудом брела нового отца, а возможно и двоих сразу.
                Она родилась 1992 году, фамилия девочке досталась от матери. </p>
            <p>ОСОБЫЕ ПРИМЕТЫ: Серьга в правом ухе. </p>
        </article>

{% endblock content %}