{% extends "templates/myLayout.jinja2" %}

{% block content %}
<article class="history" font="lightblue">
            <div>Rammstein — немецкая рок-группа, образованная в январе 1994 года. Их музыкальный стиль соединяет в себе элементы индастриал-метала,
                и традиции немецкой тяжёлой сцены (Neue Deutsche Harte). Rammstein — одна из самых популярных рок-групп Германии, широко известная в
                Европе и США. Почти все песни группы исполняются на немецком языке. Rammstein также прославились сценическими шоу и эпатажными текстами.</div>
</article>
{% endblock content %}